body {
  margin-top: 65px;
  padding-top: 2rem;
}

h4 {
  margin-top: 1rem;
}

.center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: #2196f3;
}

.nav-link .fa {
  margin: 0px 10px 0px 10px;
}

#progress-chart {
  padding-top: 25px;
}

.vertical-center-row {
  vertical-align: middle;
}

.nav-link .fa {
  margin: 0px 10px 0px 10px;
}

.hidden {
    display:none;
}

.card {
  margin-bottom: 1em;
}

.card h4{
  margin-top: 0;
}

/*#progress-chart {
  padding-top: 25px;
}*/
