<div class="row">
  <div class="col-md-10 mx-auto">
    <h1>Upcoming Patients</h1>
    <hr> 
    <div id="upcoming-patient-list">
      <!-- Patients will be appended here upon retrieval -->
      <div class="card" id="loading-upcoming">
        <div class="card-block">
          <h5 class="card-title text-muted">Loading...</h5>
        </div>
      </div>

    </div>

    <h1>Past Patients</h1>
    <hr> 
    <div id="past-patient-list">
      <!-- Patients will be appended here upon retrieval -->
      <div class="card" id="loading-past">
        <div class="card-block">
          <h5 class="card-title text-muted">Loading...</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascripts/patients.js"></script>
