<div class="row">
  <div class="col-md-6 mx-auto">
    <h1>Add Note</h1>
    <form>  
      
      <div class="form-group">
        <label for="note-text">Note Content:</label>
        <textarea class="form-control" id="note-text" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <hr> 

    <div id="note-list">
      <!-- Notes will be appended here upon retrieval -->
    </div>

  </div>
</div>

<script src="/javascripts/notes.js"></script>
