<!--
<h2 class="page-header" id="name-text">Summary</h2>
-->
<div class="col-lg12 mx-auto">

  <!--
  <div class="card">
   <div class="card-body">
     <h2 class="card-title">Some Title.... Not needed for this thing though</h2>

   </div>
  </div>
  -->

  <div class="card">
    <div class="card-body">
      <h2 id="name-text" class="card-title">Patient Name</h2>

      <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
          <b>Gender:</b><br>
          <b>Birth Date:</b><br>
        </div>
        <div class="col-md-3">
          <span id="gender-text">-</span><br>
          <span id="birth-text">-</span><br>
        </div>
        <!-- /Left Side -->

        <!-- Right Side -->
        <!-- Left Side -->
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <!-- /Right Side -->
      </div>

    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Grocery Shopping</h2>

    </div>
  </div>

  <div class="card" id='medicationTimeline'>
    <div class="card-body">
      <h2 class="card-title">Medication timeline</h2>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h2 class="card-title" id = "medTitle">Medications</h2>

      <div class="row">
        <!-- Left Side -->
        <div class="col-md-9">
          <b>Prescriber: <span id="med-list-prescriber">-</span></b><br>
          <b>Dose: <span id="med-list-dose">-</span></b><br>
          <b>Route: <span id="med-list-route">-</span></b><br>
          <b>Start Date: <span id="med-list-startDate">-</span></b><br>
          <b>End Date: <span id="med-list-endDate">-</span></b><br>
        </div>

<!--
        <div class="col-md-6">
          <span id="med-list"></span>
        </div>
        /Left Side -->

        <!-- Right Side -->
        <div class="col-md-3">
          <b>Status: <span id="med-list-status"></span></b><br>
        </div>
        <!--
        <div class="col-md-3">
          <span id="problems-list"></span><br>
        </div>
        /Right Side -->

      </div>

    </div>
  </div>





  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Allergies</h2>

      <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
          <b>Allergies:</b>
        </div>
        <div class="col-md-3">
          <span id="allergies-list"></span>
        </div>
        <!--/Left Side -->

        <!-- Right Side -->
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <!--/Right Side -->
      </div>

    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Diet Indicators</h2>

      <div class="left-list">
        <div id="scores" class="scores">
          <h5 class="card-subtitle">Nutrition score : 42</h5>
          <br>
          <h5 class="card-subtitle">Component scores:</h5>
          <ul class="score-list">
            <li><h5>Fruits: 9</h5></li>
            <li><h5>Vegetables: 10</h5></li>
            <li><h5>Grains: 6</h5></li>
            <li><h5>Dairy: 8</h5></li>
            <li><h5>Protein Foods: 10</h5></li>
            <li><h5>Fats: 5</h5></li>
            <li><h5>Refined Grains : 6</h5></li>
            <li><h5>Sodium: 8</h5></li>
            <li><h5>Empty calories: 15</h5></li>
          </ul>
        </div>
      </div>

      <div class="right-chart">
        <div id="progress-chart" class="spider">
        <!-- Contents filled by JS -->
        </div>
      </div>

  </div>
    </div>


  <div class="card">

	<div id=”container”>
	<div class="card-body" style="float:left; width: 70%"> 
		<h2 class="card-title">Vital Signs</h2>
		<table id="vitals">
			<tbody>
				<tr>
					<th class="width-30" onclick="plotHeight()" style="cursor: pointer;">Height:</th>
					<td id="height-text" onclick="plotHeight()" style="cursor: pointer;"></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30">Systolic Blood Pressure:</th>
					<td id="sbp-text"></td>
				</tr>
				<tr>
					<th class="width-30">Weight:</th>
					<td id="weight-text"></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30">Diastolic Blood Pressure:</th>
					<td id="dbp-text"></td>
				</tr>
				<tr>
					<th class="width-30">BMI:</th>
					<td id=bmi-score></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30">Cholesterol in Serum:</th>
					<td id=chol></td>
				</tr>
				<tr>
					<th class="width-30">Glucose:</th>
					<td id=gluc-score></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30">High Density Lipoprotein:</th>
					<td id=hdl-score></td>
				</tr>
				<tr>
					<th class="width-30">HbA1c:</th>
					<td id=hba1c-score></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30"></th>
					<td></td>
					<th class="width-30">Low Density Lipoprotein:</th>
					<td id=ldl-score></td>
				</tr>				
			</tbody>
		</table>
	</div>
	<div id="chartRegion" class="card-body" style="float:right; width: 30%"></div>
  </div>
</div>

<script src="javascripts/summarySOF.js" type="text/javascript"></script>
<script src="javascripts/plotFunctions.js" type="text/javascript"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
  FHIR.oauth2.ready(onReady, onError);
</script>

