<h2 class="page-header" id="name-text">Summary</h2>
<div class="col-sm-10 mx-auto">

  <div class="row">
    <!-- Left Side -->
    <div class="col-md-3">
        <b>Gender:</b><br>
        <b>Birth Date:</b><br>
        <b>Age:</b><br>
        <b>Weight:</b><br>
        <b>Height:</b><br>
    </div>
    <div class="col-md-3">
        <span id="gender-text">-</span><br>
        <span id="birth-text">-</span><br>
        <span id="age-text">-</span><br>
        <span id="weight-text">-</span><br>
        <span id="height-text">-</span><br>
    </div>
    <!-- /Left Side -->

    <!-- Right Side -->
    <!-- Left Side -->
    <div class="col-md-3">
        <b>Diabetes:</b><br>
        <b>Hypertension:</b><br>
    </div>
    <div class="col-md-3">
        <span id="has-diabetes"></span><br>
        <span id="has-hypertension"></span><br>
    </div>
    <!-- /Right Side -->
  </div>

  <div class="row">
    <!-- Left Side -->
    <div class="col-md-3">
	<b>Medications:</b>
    </div>
    <div class="col-md-3">
        <span id="med-list"></span>
    </div>
    <!--/Left Side -->

    <!-- Right Side -->
    <div class="col-md-3">
        <b>Problems:</b><br>
    </div>
    <div class="col-md-3">
        <span id="problems-list"></span><br>
    </div>
    <!--/Right Side -->

  </div>

  <div class="row">
    <!-- Left Side -->
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <!--/Left Side -->

    <!-- Right Side -->
    <div class="col-md-3">
	<b>Allergies:</b>
    </div>
    <div class="col-md-3">
        <span id="allergies-list"></span>
    </div>
    <!--/Right Side -->

  </div>

  <hr>

  <div class="measurement" id="nutrition-measurement">
    <div class="measurement-header">
      <div>
        <h4>Nutrition Score</h4>
      </div>
      <div class="measurement-right">
        <h4 id="nutrient-score" class="score"></h4>
        <a href='#progress-chart' onclick="toggler('progress-chart');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="progress-chart" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>

  <div class="measurement" id="bmi-measurement">
    <div class="measurement-header">
      <div>
        <h4>BMI (kg/m<sup>2</sup>)</h4>
      </div>
      <div class="measurement-right">
        <h4 id="bmi-score" class="score"></h4>
        <a href='#Chart1' onclick="toggler('Chart1');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="Chart1" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>

  <div class="measurement" id="HBA1C-measurement">
    <div class="measurement-header">
      <div>
        <h4>HBA1C</h4>
      </div>
      <div class="measurement-right">
        <h4 id="hba1c-score" class="score"></h4>
        <a href='#Chart2' onclick="toggler('Chart2');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="Chart1" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>


  <div class="measurement" id="cholesterol-measurement">
    <div class="measurement-header">
      <div>
        <h4>Cholesterol in Serum</h4>
      </div>
      <div class="measurement-right">
        <h4 id="chol" class="score"></h4>
        <a href='#Chart5' onclick="toggler('Chart5');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="Chart5" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>



  <div class="measurement" id="HDL-measurement">
    <div class="measurement-header">
      <div>
        <h4>HDL</h4>
      </div>
      <div class="measurement-right">
        <h4 id="hdl-score" class="score"></h4>
        <a href='#Chart3' onclick="toggler('Chart3');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="Chart3" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>

  <div class="measurement" id="LDL-measurement">
    <div class="measurement-header">
      <div>
        <h4>LDL</h4>
      </div>
      <div class="measurement-right">
        <h4 id="ldl-score" class="score"></h4>
        <a href='#Chart4' onclick="toggler('Chart4');">
          <img type="image/svg+xml"></img>
        </a>
      </div>
    </div>

    <div id="Chart4" class='hidden' align="center">
      <!-- Contents filled by JS -->
    </div>
  </div>
</div>

<script src="javascripts/summarySOF.js" type="text/javascript"></script>
<script>
  FHIR.oauth2.ready(onReady, onError);
  console.log('hii');
</script>
