:root{
    --nutrient-color: #2196F3;
    --green-color: #8bc34a;
    --orange-color: #ff9800;
    --red-color: #FF5722;
    --purple-color: #8A65CE;
    --teal-color: #1CD6B1;

    --grey-color: #767676;
}

/*h1,h2,h5,h6,p,b,label,.text-muted {
    color: var(--grey-color) !important;
}*/

h3 {
  color: #2196f3;
}

h4{
  color: var(--grey-color);
}

body {
  margin-top: 0px;
  padding-top: 2rem;
  background-color: #2196f3;
}

h4 {
  margin-top: 1rem;
}

.center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: #2196f3;
}

.nav-link {
    display: flex;
}

.nav-link span {
    line-height: 1.8;
}

.nav-link .fa {
  margin: 0px 10px 0px 10px;
}

#progress-chart {
  padding-top: 25px;
}

.vertical-center-row {
  vertical-align: middle;
}

.hidden {
    display:none;
}

.card {
  margin-bottom: 1em;
}

.card h4{
  margin-top: 0;
}

.navbar-brand{
    font-family: 'Lobster';
    padding: 0;
    font-size: 24pt;
}

.arrow-right {
  height: 2em;
}

.measurement svg {
    fill: black;
}

.measurement-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.measurement-right{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.measurement-right h4{
    margin: 0;
}

.measurement-right img{
    content: url("../images/arrow.svg");
    height: 2em;
}

.measurement-right img.toggled{
    content: url("../images/arrow-down.svg");
}


#nutrition-measurement .score{
    color: var(--nutrient-color);
}

#nutrition-measurement img{
    fill: var(--nutrient-color);
}

#bmi-measurement .score{
    color: var(--green-color);
}

#bmi-measurement img{
    fill: var(--green-color);
}

#HBA1C-measurement .score{
    color: var(--orange-color);
}

#HBA1C-measurement img{
    fill: var(--orange-color);
}

#HDL-measurement .score{
    color: var(--red-color);
}

#HDL-measurement img{
    fill: var(--red-color);
}

#LDL-measurement .score{
    color: var(--purple-color);
}

#LDL-measurement img{
    fill: var(--purple-color);
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Get Started/Change User Button */
.gs_cu_Button {
  background-color: white;
  transition-duration: 0.4s;
  border: none;
  color: #2196f3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer{
  margin-top:40px;
}
