:root{
    --nutrient-color: #2196F3;
    --green-color: #8bc34a;
    --orange-color: #ff9800;
    --red-color: #FF5722;
    --purple-color: #8A65CE;
    --teal-color: #1CD6B1;

    --grey-color: #767676;
}

/*h1,h2,h5,h6,p,b,label,.text-muted {
    color: var(--grey-color) !important;
}*/



.floating-box {
    display: inline-block;
    width: 49%;
    height: auto;
    margin: 2px;
}


#tooltips{
  padding-top: 10px;
}

.vis-item.visible{
  visibility: visible;
}

.vis-item.hide{
  visibility: hidden;
}

.vis-item.active{
  color : green;
  border-color: green;
}

.vis-item.inactive{
  color : grey;
  border-color: grey;
}

#title {
  font-family: 'Lobster', cursive;
}

h2 {
	font-family: 'Lobster', cursive;
	font-weight: 500;
	color: #ffffff;
}

h3 {
  color: #2196f3;
}

h4{
  color: #2196f3;
}

body {
  margin-top: 0px;
  padding-top: 2rem;
  background-color: #2196f3;
}

h4 {
  margin-top: 1rem;
}



.center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: #2196f3;
}

.nav-link {
    display: flex;
}

.nav-link span {
    line-height: 1.8;
}

.nav-link .fa {
  margin: 0px 10px 0px 10px;
}

#progress-chart {
  padding-top: 25px;
}

.vertical-center-row {
  vertical-align: middle;
}

.hidden {
    display:none;
}

.card {
  margin-bottom: 1em;
}

.card h4{
  margin-top: 0;
}

.navbar-brand{
    font-family: 'Lobster';
    padding: 0;
    font-size: 24pt;
}

.arrow-right {
  height: 2em;
}

.measurement svg {
    fill: black;
}

.measurement-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.measurement-right{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.measurement-right h4{
    margin: 0;
}

.measurement-right img{
    content: url("../images/arrow.svg");
    height: 2em;
}

.measurement-right img.toggled{
    content: url("../images/arrow-down.svg");
}


#nutrition-measurement .score{
    color: var(--nutrient-color);
}

#nutrition-measurement img{
    fill: var(--nutrient-color);
}

#bmi-measurement .score{
    color: var(--green-color);
}

#bmi-measurement img{
    fill: var(--green-color);
}

#HBA1C-measurement .score{
    color: var(--orange-color);
}

#HBA1C-measurement img{
    fill: var(--orange-color);
}

#HDL-measurement .score{
    color: var(--red-color);
}

#HDL-measurement img{
    fill: var(--red-color);
}

#LDL-measurement .score{
    color: var(--purple-color);
}

#LDL-measurement img{
    fill: var(--purple-color);
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 15px;
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  color: #777;
}

/* List for scores*/
.left-list{
  width: 28%;
  float: left;
  margin-top: 10px;
}

.right-chart{
  width: 70%;
  float:right;
}

.spider{
  max-width: 90%;
  height: 100%;
  margin-left: 10%;
}

.scores{
  margin-top: 15%;
}

.score-list{
  margin-left: 0.5%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Get Started/Change User Button */
.gs_cu_Button {
  background-color: white;
  transition-duration: 0.4s;
  border: none;
  color: #2196f3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer{
  margin-top:20px;
}

/*custom tip*/
.custom-tip{
  color: #2196f3;
}

.myCustomClass{
    border-color: rgb(0,190,0);
    background-color: white;
}


.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.axis2 path,
.axis2 line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis2 text {
	font-family: sans-serif;
	font-size: 11px;
}


.card-hamburger {
  margin: 10px 20px;
  color:#2196f3;
  cursor: move
}

.sortable-ghost {
  opacity: 0;
}

.sortable-chosen {
  opacity: 1;
}

.sortable-drag {
  opacity: 1;
}

.groceryTable {
	border-spacing: 1px;
	padding: 0px;
}

.groceryTableBody {
	overflow: auto;
	width: 100%;
	height: 250px;
	display: block;
}

.groceryTableRow {
	background: #ffffff;
}

.groceryTableRow:hover {
	background-color: #EBEBEB;
}

.groceryTypeTable {
	border-spacing: 1px;
	padding: 0px;
}

.vtTable {
	border-spacing: 1px;
	padding:0px;
}

.vtTableLabel {
	color: #808080;
	font-size: 0.75em;
	text-align: center;
	padding: 4.5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.vtTableValue {
	font-size:.85em;
	text-align: center;
	padding: 4.5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.gdTableLabel {
	color: #808080;
	font-size: 0.75em;
	text-align: center;
	padding: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.gdTableValue {
	font-size:.85em;
	text-align: center;
	padding: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.demoTableLabel {
	color: #808080;
	font-size: 0.75em;
	text-align: center;
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.demoTableValue {
	font-size:.85em;
	text-align: center;
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.deepDiveTable {
	border-spacing: 1px;
	padding:2px;
}

.deepDiveTableLabel {
	color: #808080;
	font-size: 0.95em;
	text-align: center;
	padding: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.deepDiveTableValue {
	font-size:.95em;
	text-align: center;
	padding: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pathActual {
	stroke: #2196f3;
	stroke-width: 1;
	fill: none;
}

.pathRef {
	stroke: #cc0000;
	stroke-width: 2;
	fill: none;
}

.pointActual {
	stroke: #2196f3;
	fill: #2196f3;
}

.pointRef {
	stroke: #cc0000;
	fill: #cc0000;
}

.star {
	fill: #C8C8C8;
	fill-opacity: 0.3;
}

.leftGrocery {
	
}

.trBottom {
	border-bottom: 1.00px solid #808080;
}

.movable {
	
}

.rowText {
  
}
